{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Media monitoring</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->


<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post-details-thumb mb-50">
                    <img src="img/bg-img/34.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="post-details-content">
                    <!-- Blog Content -->
                    <div class="blog-content">

                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <a href="#" class="post-cata cata-sm cata-danger">Game</a>

                            <h4>VMR in Media monitoring</h4>

                            <ul class="unordered-list mb-0">
                                <li><strong>Real-time Monitoring:</strong> The app can continuously scan a wide range of
                                    media sources to provide real-time updates on mentions of specific keywords, topics,
                                    or entities.</li>
                                <li><strong>Comprehensive Coverage:</strong> The app can aggregate content from
                                    different sources, ensuring comprehensive coverage and a holistic view of media
                                    mentions.</li>
                                <li><strong>Brand Reputation Management:</strong> Organizations can use the app to
                                    monitor discussions and sentiments about their brand, addressing issues and managing
                                    their reputation effectively.</li>
                                <li><strong>Competitor Analysis:</strong> The app can track media mentions of
                                    competitors, enabling organizations to stay informed about rivals' activities and
                                    public perception.</li>
                                <li><strong>Crisis Management:</strong> The app can provide immediate alerts about media
                                    coverage during a crisis, helping organizations respond quickly and mitigate damage.
                                </li>
                                <li><strong>Campaign Tracking:</strong> The app can monitor the reach and impact of
                                    specific campaigns by tracking media mentions and audience engagement.</li>
                                <li><strong>Trend Identification:</strong> By analyzing media trends and emerging
                                    topics, the app helps organizations identify relevant trends and adjust their
                                    strategies.</li>
                                <li><strong>Influencer Tracking:</strong> The app can help locate key influencers and
                                    thought leaders who discuss relevant topics.</li>
                                <li><strong>Customizable Alerts:</strong> Users can set up custom alerts based on
                                    keywords, topics, or sources to be promptly informed about developments.</li>
                                <li><strong>Content Curation:</strong> The app can assist in curating content by
                                    identifying relevant articles, videos, and social media posts.</li>
                                <li><strong>Analytics and Insights:</strong> The app provides analytics and insights
                                    about media coverage, sentiment trends, and more to guide decision-making.</li>
                                <li><strong>Regulatory Compliance:</strong> For industries subject to regulations, the
                                    app can help track media coverage to ensure compliance.</li>
                                <li><strong>Global Reach:</strong> The app supports international media monitoring
                                    efforts by tracking media in various languages and regions.</li>

                            </ul>

                            <!-- Post Tags -->
                            <div class="post-tags mt-30">
                                <ul>
                                    <li><a href="#">Sports</a></li>
                                    <li><a href="#">Reels</a></li>
                                    <li><a href="#">Highlights</a></li>
                                </ul>
                            </div>

                            <!-- Post Author -->
                            <div class="vizew-post-author d-flex align-items-center py-5">
                                <div class="post-author-thumb">
                                    <img src="/static/img/bg-img/sid.jpeg" alt="">
                                </div>
                                <div class="post-author-desc pl-4">
                                    <a href="#" class="author-name">Siddyant Das</a>
                                    <p>Hello, I am Siddyant Das, a Electronics and Communication Engineering student from National
                                        Institute of technology, Agartala</p>
                                    <div class="post-author-social-info">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    {% endblock content %}