{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Security footage analysis</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->


<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post-details-thumb mb-50">
                    <img src="img/bg-img/34.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="post-details-content">
                    <!-- Blog Content -->
                    <div class="blog-content">

                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <a href="#" class="post-cata cata-sm cata-danger">Game</a>

                            <h4>VMR in Security footage analysis</h4>

                            <ul class="unordered-list mb-0">
                                <li><strong>Rapid Incident Identification:</strong> The app quickly identifies relevant
                                    moments in security footage, saving time in incident review.</li>
                                <li><strong>Automated Threat Detection:</strong> Advanced algorithms detect suspicious
                                    activities, behaviors, and objects within the video footage.</li>
                                <li><strong>Searchable Database:</strong> The app indexes and categorizes security
                                    footage, creating a searchable database for quick retrieval.</li>
                                <li><strong>Forensic Analysis:</strong> During investigations, the app assists in
                                    identifying critical moments for detailed analysis.</li>
                                <li><strong>Pattern Recognition:</strong> The app recognizes patterns of behavior that
                                    might be missed by human observers.</li>
                                <li><strong>Real-time Alerts:</strong> The app provides real-time alerts for predefined
                                    events or conditions during live monitoring.</li>
                                <li><strong>Reduced Human Error:</strong> The app's automated analysis reduces the risk
                                    of human error in reviewing footage.</li>
                                <li><strong>Scalability:</strong> The app handles the analysis of numerous camera feeds
                                    for consistent monitoring over a large area.</li>
                                <li><strong>Evidence Compilation:</strong> The app assists in extracting and compiling
                                    relevant moments for legal proceedings.</li>
                                <li><strong>Customizable Alerts:</strong> Security personnel can set up alerts based on
                                    specific conditions for tailored monitoring.</li>
                                <li><strong>Privacy Compliance:</strong> The app focuses on specific activities or
                                    objects while respecting individuals' privacy.</li>
                                <li><strong>Continuous Learning:</strong> The app's algorithms improve accuracy by
                                    learning from new data and interactions.</li>

                            </ul>

                            <!-- Post Tags -->
                            <div class="post-tags mt-30">
                                <ul>
                                    <li><a href="#">Sports</a></li>
                                    <li><a href="#">Reels</a></li>
                                    <li><a href="#">Highlights</a></li>
                                </ul>
                            </div>

                            <!-- Post Author -->
                            <div class="vizew-post-author d-flex align-items-center py-5">
                                <div class="post-author-thumb">
                                    <img src="/static/img/bg-img/sid.png" alt="">
                                </div>
                                <div class="post-author-desc pl-4">
                                    <a href="#" class="author-name">Siddyant Das</a>
                                    <p>Hello, I am Siddyant Das, an Electronics and Communication Engineering student from National
                                        Institute of technology, Agartala</p>
                                    <div class="post-author-social-info">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    {% endblock content %}