{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Video editing assistant</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->


<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post-details-thumb mb-50">
                    <img src="img/bg-img/34.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="post-details-content">
                    <!-- Blog Content -->
                    <div class="blog-content">

                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <a href="#" class="post-cata cata-sm cata-danger">Game</a>

                            <h4>VMR in Video editing</h4>

                            <ul class="unordered-list mb-0">
                                <li><strong>Time Savings:</strong> The app can significantly reduce the time spent
                                    manually searching for specific moments within video footage.</li>
                                <li><strong>Efficient Content Selection:</strong> The app uses advanced algorithms to
                                    analyze video content and identify key moments based on visual and audio cues.</li>
                                <li><strong>Enhanced Creativity:</strong> Editors can focus more on creative aspects of
                                    video editing, as the app streamlines content discovery.</li>
                                <li><strong>Easy Collaboration:</strong> The app serves as a central repository for
                                    identified moments, fostering seamless collaboration among team members.</li>
                                <li><strong>Consistency in Quality:</strong> Automated moment retrieval ensures
                                    consistent quality by eliminating human error and subjectivity.</li>
                                <li><strong>Seamless Integration:</strong> The app integrates with video editing
                                    software, allowing direct import of selected moments into projects.</li>
                                <li><strong>Customizable Search Criteria:</strong> Editors can specify criteria for
                                    moment retrieval, aligning with their creative vision.</li>
                                <li><strong>Rapid Iteration:</strong> The app facilitates quick iteration by allowing
                                    experimentation with different shots and sequences.</li>
                                <li><strong>Access to Extensive Libraries:</strong> The app connects to databases of
                                    stock footage, expanding available moments for editing.</li>
                                <li><strong>Monetization Opportunities:</strong> Developers can offer premium features
                                    or access to specialized libraries for a subscription fee.</li>
                                <li><strong>Learning and Improvement:</strong> The app's algorithms continuously learn
                                    from user interactions, improving accuracy over time.</li>

                            </ul>

                            <!-- Post Tags -->
                            <div class="post-tags mt-30">
                                <ul>
                                    <li><a href="#">Sports</a></li>
                                    <li><a href="#">Reels</a></li>
                                    <li><a href="#">Highlights</a></li>
                                </ul>
                            </div>

                            <!-- Post Author -->
                            <div class="vizew-post-author d-flex align-items-center py-5">
                                <div class="post-author-thumb">
                                    <img src="/static/img/bg-img/sharad_profile.jpeg" alt="">
                                </div>
                                <div class="post-author-desc pl-4">
                                    <a href="#" class="author-name">Sharad Saha</a>
                                    <p>Hello, I am Sharad Saha, a Computer Science and Engineering student from National
                                        Institute of technology, Agartala</p>
                                    <div class="post-author-social-info">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    {% endblock content %}